<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scuffed Tinder</title>
    <!--<link rel="stylesheet" href="style.css"/>-->
    <style>
        #title {
            color:hotpink;
            text-decoration-style:wavy;
            text-shadow: 2px 2px 5px pink;
            font-family: cursive;
        }
    </style>
</head>
<body>
    <h1 id="title">Congratulations!</h1>
    <h2>You found your match:</h2>
    <br><br><hr>
    <div>
        <h2>Your Match is:<%- matchName %></h2><br>
        You can reach him/her now at <%- matchTel %> or <%- matchEmail %> today!<br>
        You and <%- matchName %> have the following interests in common:
        <%- matchTable %>

    </div>

</body>
</html>